html {
    height: 100vh;
}

body {
    background-image: url("./lightpaperfibers.png"), url("./logo.svg");
    background-repeat: repeat, no-repeat;
    background-position: top left, top left;
    background-size: auto, 20vmax;
    background-color: rgba(126,172,211,0.4);
    background-blend-mode: multiply;
    color: rgb(34,34,11);
    /*overflow: hidden;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-animation: bmove 60s infinite alternate linear;
    animation: bmove 30s infinite alternate linear;
}

@-webkit-keyframes bmove {
    0% { background-color: rgba(211,172,126,0.4); }
    50% { background-color: rgba(126,211,172,0.4); }
    100% { background-color: rgba(126,172,211,0.4); }
}

@keyframes bmove {
    0% { background-color: rgba(211,172,126,0.4); }
    50% { background-color: rgba(126,211,172,0.4); }
    100% { background-color: rgba(126,172,211,0.4); }
}

p {
    font-size: 2.7vmax;
    width: 60vw;
    margin-left: 30vw;
    font-family: 'beetham', sans-serif;
    line-height: 4.4vmax;
    min-height: 30vmax;
    margin-top: 20vh;
}

p:before{
    content: "\2014";
    padding-right: 0.25em;
}

.redline, .greenline, .blueline {
    font-weight: normal;
    opacity: 0.7;
}

.redline {
    color: rgb(172,30,13);
}

.greenline {
    color: rgb(10,132,3);
}

.blueline {
    color: rgb(13,30,172);
}

.red, .green, .blue {
    font-weight: normal;
    color: rgb(251,231,231);
    padding: 0.25vmax;
    border-radius: 0.75vmax;
    opacity: 0.7;
}

.red:hover, .green:hover, .blue:hover,
.redline:hover, .greenline:hover, .blueline:hover,
.mailme:hover {
    -webkit-animation: mymove 1s ease-out forwards;
    animation: mymove 1s ease-out forwards;
}

@-webkit-keyframes mymove {
    from { opacity: 0.7; }
    to { opacity: 1; }
}

@keyframes mymove {
    from { opacity: 0.7; }
    to { opacity: 1; }
}

.red {
    background-color: rgb(172,30,13);
}

.green {
    background-color: rgb(10,132,3);
}

.blue {
    background-color: rgb(13,30,172);
}

.mailme {
    font-weight: normal;
    padding-bottom: 2px;
    color: rgb(34,34,11);
    border-bottom: 2px dotted rgb(34,34,11);
    opacity: 0.7;
}

a:link, a:active, a:visited {
    text-decoration: none;
}
