html {
    height: 100vh;
}

body {
    background-image: url("./logo.svg"), url("./debut_light.png");
    background-repeat: no-repeat, repeat;
    background-position: top left;
    background-size: 20vw, auto;
    background-color: rgba(126,172,211,0.4);
    background-blend-mode: multiply;
    color: rgb(34,34,11);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-animation: bmove 20s infinite alternate linear;
    animation: bmove 20s infinite alternate linear;
}

@-webkit-keyframes bmove {
    0% { background-color: rgba(211,172,126,0.4); }
    50% { background-color: rgba(126,211,172,0.4); }
    100% { background-color: rgba(126,172,211,0.4); }
}

@keyframes bmove {
    0% { background-color: rgba(211,172,126,0.4); }
    50% { background-color: rgba(126,211,172,0.4); }
    100% { background-color: rgba(126,172,211,0.4); }
}

p {
    font-size: 2.7vmax;
    width: 60vw;
    margin-left: 30vw;
    font-family: 'beetham', sans-serif;
    line-height: 4.4vmax;
    min-height: 30vmax;
    margin-top: 20vh;
    -ms-transform: rotateZ(3deg);
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

p:before{
    content: "\2014";
    padding-right: 0.25em;
}

.redline, .greenline, .blueline {
    font-weight: normal;
    opacity: 0.7;
    text-decoration: none;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.redline {
    color: rgb(172,30,13);
}

.greenline {
    color: rgb(10,132,3);
}

.blueline {
    color: rgb(13,30,172);
}

.red, .green, .blue {
    font-weight: normal;
    color: rgb(251,231,231);
    padding: 0.25vmax;
    border-radius: 0.75vmax;
    opacity: 0.7;
    text-decoration: none;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.red:hover, .green:hover, .blue:hover,
.redline:hover, .greenline:hover, .blueline:hover,
.mailme:hover {
    opacity: 1;
}

.red {
    background-color: rgb(172,30,13);
}

.green {
    background-color: rgb(10,132,3);
}

.blue {
    background-color: rgb(13,30,172);
}

.mailme {
    font-weight: normal;
    padding-bottom: 2px;
    color: rgb(34,34,11);
    border-bottom: 0.2vmax dashed rgb(34,34,11);
    opacity: 0.7;
    text-decoration: none;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

a:link, a:active, a:visited {
    text-decoration: none;
}
